<div class="container-new">
    <header> 
      <nav>
        <ul>
          <li><a href="">Listagem</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </nav>
  </header>
  <body>
      <div class="new-title">
          <h1>Cadastrar nota</h1>
      </div>
  
      <div class="container-fluid">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Disciplina</th>
                  <th scope="col">Nota</th>
                  <th scope="col">Nota</th>
                  <th scope="col">Nota</th>
                  <th scope="col">Nota</th>
                  <th scope="col">Média</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="new-action">
                <a class="btn btn-primary" href="#" role="button">Cadastrar</a>
                <a class="btn btn-secondary" href="#" role="button">Voltar</a>
            </div>
      </div>
  </body>
  
  </div>