<div class="container-form">
  <header> 
    <nav>
      <ul>
        <li><a href="">Listagem</a></li>
        <li><a href="">Home</a></li>
      </ul>
    </nav>
</header>
<body>
    <div class="form-title">
        <h1>Listagem de Notas</h1>
      <a class="btn btn-primary" href="#" role="button">Novo Lançamento</a>
    </div>

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Nota</th>
                <th scope="col">Nota</th>
                <th scope="col">Nota</th>
                <th scope="col">Nota</th>
                <th scope="col">Média</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-warning" href="#" role="button">Editar</a>
                    <a class="btn btn-danger" href="#" role="button">Remover</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

</div>